# Laravel
server/.env
server/vendor/
server/storage/logs/*
server/storage/app/public/*
server/.phpunit.result.cache
server/node_modules/

# Next.js
client/.env.local
client/.env
client/node_modules/
client/.next/

# Playwright & Testing artifacts
client/playwright-report/
client/test-results/
test-results/
playwright-report/
*.webm
*.zip

# OS
.DS_Store
Thumbs.db
~$*.xlsx